.category-pane {
    padding: 1rem;
}
.product-card {
    padding: 0 !important;
}

.nav-link.active {
    color: white !important;
}

.nav-link {
    color: black !important;
}
.navbar-menus {
    float: right;
}