.category-pane {
    padding: 1rem;
}
.sticky-top {
    top:5rem !important;
}
.product-card {
    padding: 0 !important;
}
.flex-sm-column {
    width: 100%;
}

.nav-link.active {
    color: white !important;
}

.nav-link {
    color: black !important;
}
.image-container {
    text-align: center;
    padding: 2rem 15rem 5rem;
}
.image-container img {
    max-width: 100%;
}

@media only screen and (max-width:768px) {
    .image-container {
        display: none;
    }
}
@media only screen and (max-width:576px) {
    .category-title {
        /* display: none; */
    }
}