.login-window {
	display: flex;
	flex-direction: column;
	padding: 5rem 5rem 2rem;
	max-width: 40rem;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 10px;
}
form > input {
	margin: 0.5rem 0;
}
.login-button {
	float: right;
	width: 50%;
}
.loginWindow-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.account-link {
    text-align: center;
}