.actions {
	padding: 1rem 1rem;
	display: flex;
	flex-direction: row;
}

.list {
	padding: 3.5rem 1rem !important;
}

.cartButton {
	width: 100% !important;
}

.quantityButtonContainer {
	border: 1px solid lightgray;
	border-radius: 5px;
	overflow: hidden;
	min-height: 2.5rem;
	margin-right: 1rem;
}
.quantity {
	text-align: center;
	background-color: white !important;
	border-top: none !important;
	border-bottom: none !important;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	height: inherit !important;
}
.quantityButtons,
.quantityButtons:hover,
.quantityButtons:active {
	border: none !important;
	border-radius: 0 !important;
	width: 2rem;
}

@media only screen and (max-width: 992px) {
	.cartButton {
		font-size: 14px;
	}
}
