.main {
    background-color: black;
}

.headerBrand {
    height: 2rem;
}
.headerLogo {
    vertical-align: top;
    margin: auto;
    height: 100%;
    width: auto;
    filter: invert(100%);
}
.headerMenu {
    margin: .5rem 0;
    margin-left: auto !important;
}
.cartButton {
    color: white;
    margin: 0 2rem;
    font-size: 18px;
    transition: .15s;
}
.cartButton:hover {
    color: gray;
    transition: .15s;
}
.loginButton {
    padding: .25rem .5rem;
}