.cardBg {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: .5rem;
    max-height: 100%;
    overflow: hidden;
}
.cardBg.list {
    display: flex;
    flex-direction: row;
}
.productImage {
    width: 100%;
}
.list > .productImage {
    max-width: 10rem;
    width: auto;
}
.productDetail {
    padding: 1rem;
}
.productName {
    font-size: 13px;
    height: 3em;
    margin-bottom: .5rem;
    overflow: hidden;
}
.productPrice {
    margin-bottom: 0;
}

