.cardBg {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: .5rem;
    max-height: 100%;
    overflow: hidden;
}
.cardListBg{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: .5rem;
    max-height: 10rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.productImage {
    max-width: 100%;
}
.productDetail {
    padding: 1rem;
}
.productName {
    font-size: 13px;
    height: 3em;
    margin-bottom: .5rem;
    overflow: hidden;
}
.price {
    margin-bottom: 0;
}
.cartButton {
    width: 100% !important;
}
.quantityButtonContainer {
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    min-height: 2.5rem;
    /* box-sizing: border-box; */
}
.quantity {
    text-align: center;
    background-color: white !important;
    /* height: 2.5rem; */
    border-top: none !important;
    border-bottom: none !important;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    height: inherit !important;
}
.quantityButtons, .quantityButtons:hover, .quantityButtons:active {
    border: none !important;
    border-radius: 0 !important;
    width: 2rem;
    /* height: 2rem; */
}